@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.menu-item {
    @apply flex items-center p-2 gap-2 hover:bg-base-content/10 active:bg-base-content/20 text-base-content;
}

.btn {
    @apply !shadow-none;
}